/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 500px;
}

.heroGraphic {
  width: auto;
  position: absolute;
  height: 120%;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.heroLogo {
  margin: 0 auto;
  display: block;
  width: 500px;
}

:global .hero {
  padding: 0 !important;
  background: #4D54FF;
}

.heroIntro {
  padding: 6rem 0 9rem;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.heroIntro p {
  margin: 0 auto;
  max-width: 800px;
  line-height: 1.8;
}

.section {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

:global .hero.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
}

.blockButton {
  margin-top: 20px;
}

.blockButton a {
  width: 300px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.blockButton a:hover .button {
  opacity: 0;
}

.block {
  margin: 0 auto;
  width: 98%;
  max-width: 900px;
  text-align: center;
  padding: 4rem 0 8rem;
}

.button, .buttonHover {
  width: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  transition: 0.1s;
  margin-bottom: 30px;
}

.button {
  z-index: 2;
}